
body{
    background-color: brown;
}

h1{
    font-size: 5rem;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    margin: 7rem 2rem 2rem 2rem;
    padding: 2rem;
}

h1 span{
    display: block;
}